:root {
  --blue-100: #2524e9;
  --blue-100-rgb: 37, 36, 233;
  --blue-200: #9c9bf0;
  --gray-100: #bebebe;
  --red-100: #e5383b;
  --orange-100: #f59b66;
  --black-100: #000;
  --white-100: #fff;

  --primary-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 1px,
    rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
}

@mixin flex($jus: center, $ali: center) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}

@mixin pseudo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
